<a href="https://colab.research.google.com/github/S4nt1n0j4j4/tp-pii-funciones/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>ejercicio 1<h1>

In [5]:
def multiplicar_x_dos(numero):
  numero = numero * 2
  print(numero)

  multiplicar_x_dos(5)
  multiplicar_x_dos(10)
  multiplicar_x_dos(20)

<h1>ejercicio 2<h1>

In [6]:
def sumar_todos(*args):
  suma = 0
  for numero in args:
    suma += numero
  print(suma)

  sumar_todos(1,2,3,4,5)

<h1>ejercicio 3<h1>

In [7]:
def mostrar_inf_persona(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

mostrar_inf_persona(nombre="Juan", edad=25, ciudad="Madrid")

nombre: Juan
edad: 25
ciudad: Madrid

<h1>ejercicio 4<h1>

In [8]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros_pares = list(filter(lambda x: x % 2 == 0, numeros))
print(numeros_pares)

[2, 4, 6, 8, 10]

<h1>ejercicio 5<h1>

In [12]:
def multiplicar_lista(lista, numero_mul):
  for numero in lista:
    resultado = numero_mul * numero
    print(resultado)

numeros = [1, 2, 3, 4, 5]
multiplicar_lista(numeros, 2)

2
4
6
8
10

<h1>ejercicio 6<h1>

In [13]:
def agregar_elemento(lista, elemento):
  lista.append(elemento)
  print(lista)

numeros = [1, 2, 3, 4, 5]
agregar_elemento(numeros, 6)

[1, 2, 3, 4, 5, 6]

<h1>ejercicio 7<h1>

In [14]:
def incrementar_valor(numero):
  numero2 = numero + 1
  print(numero)

valor = 5
incrementar_valor(1)

1

<h1>ejercicio 8<h1>

In [15]:
def obtener_mayor_y_menor(lista):
  mayor = max(lista)
  menor = min(lista)
  print(f"El número mayor es: {mayor}")
  print(f"El número menor es: {menor}")

numeros = [1, 2, 3, 4, 5]
obtener_mayor_y_menor(numeros)

El número mayor es: 5
El número menor es: 1

<h1>ejercicio 9<h1>

In [16]:
def numeros_primos(numeros):
  for i in range(2, numeros + 1):
    for n in range(2, i):
      if i % n == 0:
        break
    else:
      print(i)

numeros_primos(20)

2
3
5
7
11
13
17
19